.color0{
	background-color: red !important;
}
.color1{
	background-color:blue !important;
}
.color2{
	background-color:purple !important;
}
.color3{
	background-color:green !important;
}
.color4{
	background-color:black !important;
}
.color5{
	background-color: white !important;
}
