.color0{
	background-color: red !important;
}
.color1{
	background-color:blue !important;
}
.color2{
	background-color:purple !important;
}
.color3{
	background-color:green !important;
}
.color4{
	background-color:black !important;
}
.color5{
	background-color: white !important;
}
.color6{
	background-color:blue !important;
}
.color7{
	background-color:purple !important;
}
.color8{
	background-color:green !important;
}
.color9{
	background-color:black !important;
}
.color10{
	background-color: white !important;
}
.color11{
	background-color:blue !important;
}
.color12{
	background-color:purple !important;
}
.color13{
	background-color:green !important;
}
.color14{
	background-color:black !important;
}
.color15{
	background-color: white !important;
}