.col-xs-12,.col-xs-6,.col-xs-2{
	padding:0;
}

.left-panel-button{
	background-color: transparent;
}
.red .btn{
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  padding:10px;
  text-decoration: none;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}
.red {
  color: #ff5252;
  border: 2px #ff5252 solid;
  background-color: #fff
}

.red:hover {
  color: #fff;
  background-color: #ff5252;
}


/*
  ROI selector CSS
*/
.ghost-select {
  display: none;
  z-index: 9000;
  position: absolute !important;
  cursor: default !important;
}

.ghost-active {
  display: block !important;
}

.ghost-select > span {
  background-color: rgba(239, 28, 190, 0.3);
  border: 1px solid #b20e8c;
  width: 100%;
  height: 100%;
  float: left;
}

#grid {
  width: 100%;
  height: 100%;
}

.alert-video{
  position: fixed;
  opacity: 0;
  top: 60px;
  left: 0;
  padding: 1em;
  transition: opacity 1s linear;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bcdff1;
  width:200px;
  text-align: center;
  padding: 15px;
  margin-left:1em;
  margin-top:1em;
  border: 0.4px solid;
  border-radius: .25rem;
}
.alert-video.active{
  opacity:0.9;
}

.disable-select{
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.legend-td{
      padding: 8px;
      line-height: 1.42857143;
}