<!-- add tag Modal -->
<div class="modal fade" id="addTagModal" tabindex="-1" role="dialog" aria-labelledby="addTagLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addTagLabel">Add a Tag</h4>
      </div>
      <div class="modal-body">
        <div class="">
            <video  id="vidModal"  class="video-js vjs-default-skin" controls preload="auto" width="auto" height="100" data-setup='{ "techOrder": ["youtube"]}'>

              <source   src="//www.youtube.com/watch?v=oAtjf6Ijmtw" type='video/youtube'  />

            </video>
            <div id="edit-tag-slider"></div>
            <!-- angular.element(".vjs-control-bar").css("display","hidden") -->

        </div>
        <div>
          <table style="width:50%;margin-top:20px;border-collapse: separate;border-spacing: 0.5em;">
            <tr style="margin-bottom: 20px;">
              <td>Chapter:</td>
              <td><select style="width:300px;display: -webkit-inline-box;"class="form-control" ng-model="selectedChapter">
              <option ng-repeat="item in chaptersInObject track by $index"  value="{{item.name}}">{{item.name}}</option>
            </select></td>
            </tr>
            <tr>
              <td>Tag Name:</td>
              <td>
                <input style="width:300px;" ng-model="tagname">
              </td>
            </tr>
            <tr>
              <td></td>
              <td><input style="width:300px;"placeholder="Add a chapter" ng-model="ch"> <button ng-click="addChapter(ch)"><i class="fa fa-plus"></i></button></td>
            </tr>


          </table>


        </div>
        
      </div>
      <div style="width:100%"class="modal-footer">
        <button ng-click="addTag(selectedChapter,tagname,starttime,endtime,urlLink,'Hey, this is my annotation')" type="button" class="btn btn-primary" data-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div>


<!-- edit tag Modal -->
<div class="modal fade" id="editTagModal" tabindex="-1" role="dialog" aria-labelledby="editTagLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editTagLabel">Edit a Tag</h4>
      </div>
      <div class="modal-body">
        
        <div>
          Chapter: 
          <select class="form-control" ng-model="selectedChapter">
            <option ng-repeat="item in chaptersInObject track by $index"  value="{{item.name}}">{{item.name}}</option>
          </select>
        </div>

        <div class="row ">

          <div class="col-xs-4"><label>Tag Name</label>
            <input ng-model="tagname">
          </div>
          <div class="col-xs-4"><label>Start Time</label>
            <input ng-model="starttime">
          </div>
          <div class="col-xs-4"><label>End Time</label>
            <input ng-model="endtime">
          </div>
        </div>

        <div>
          <br>
          <input placeholder="Add a chapter" ng-model="ch"> <button ng-click="addChapter(ch)">Add Chapter</button>
        </div>

      </div>
      <div class="modal-footer">
        <button ng-click="updateTag()" type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>
