<div style="height:100%;">
  <div style="width:100%;height:50px;"><i ng-click="hideAddTag()" class="fa fa-2x fa-times pull-right"></i></div>
  <div style="margin-bottom:25px;" class="">
    <div id="slider"></div>
  </div>
  <div>
    <table>
      <tr><td><label style="margin-right:1em;">Start time:</label></td><td>{{millisecondsToFormattedTime(addOptions.starttime)}}</td></tr>
      <tr><td><label style="margin-right:1em;">End time:</label></td><td>{{millisecondsToFormattedTime(addOptions.endtime)}}</td></tr>
    </table>
  </div>
  <div>
      <div style="margin-bottom:1em;" class="col-xs-12">
        <div style="" class="col-xs-12">
          <ui-select allow-clear ng-model="tagType.selected" theme="bootstrap">
            <ui-select-match placeholder="Select or search a tag type in the list...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="item in tagTypes | filter: $select.search" refresh="refreshTagSearchResults($select)" refresh-delay="0">
              <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
            </ui-select-choices>
          </ui-select>
        </div>    
      </div>
      <div class="col-xs-12" style="width:100%;">
          <textarea ng-model="annotations" placeholder="Annotations (optional)" style="width:100%;height:125px;"></textarea>
        </div>
      <div class="col-xs-12" style="width:100%;">
        <button ng-click="addTag(tagType.selected,addOptions.starttime,addOptions.endtime,urlLink,annotations);" type="button" class="btn btn-primary pull-right" data-dismiss="modal">Create</button>
      </div>
    </div>
</div>