
<!-- CONTENT -->
<div style="" class="">
  <div style="padding:8% 20% 10% 20%;z-index: 1;">
  	<!-- SEARCH BAR -->
  	   <div style="text-align:center;" class="input-group">
        <input ng-model="urlLink" type="text" class="form-control" placeholder="Enter URL...">
        <span class="input-group-btn">
          <button ng-click="goButtonClicked(urlLink)" class="btn btn-default" type="button">Go!</button>
        </span>
      </div>

      <!-- VIDEO -->
      <div style="padding-top:25px; padding-bottom: 25px;">
          <video
              style="margin: 0 auto 0 auto"
              ng-model="link"
              id="vid1"
              class="video-js vjs-default-skin"
              controls preload="auto"
              width="640"
              height="360"
              data-setup='{ "techOrder": ["youtube"]}'>
              <source src="https://www.youtube.com/watch?v=iQ4LJSxf3JE" type='video/youtube'
          />
          </video>
      </div>
      
      <div id="grid">
          <div class="ghost-select">
              <span></span>
          </div>
      </div>
      <div>
        <div style="position:relative;" ng-include="'app/components/home/timeline.html'"></div>  
      </div> 

      <!-- TIMELINE -->
      <!--       <div>
          <div style="position:relative;" ng-include="'app/components/home/timeline.html'"></div>
      </div>  -->

      <!-- CONTROLS -->
      <div style="text-align:center">
          <button class="btn btn-default" type="button" onclick="ROI()">
              Select ROI
          </button>
      </div>
      <br>


      <!-- DATA -->
      <!-- <div id="topLeft" class="data">
          TL:
      </div>

      <div id="topRight" class="data">
          TR:
      </div>

      <div id="bottomLeft" class="data">
          BL:
      </div>

      <div id="bottomRight" class="data">
          BR:
      </div>

      <div id="url" class="data">
          URL:
      </div>

      <div id="time" class="data">
          Time:
      </div>
      <br> -->


      <!-- EMAIL INPUT -->
      <div id="email_input" style="text-align: center">
          <input class="form-control" type="text" width="300px" name="email" id="email" value="first.last@mail.mcgill.ca">
          <button class="btn btn-default" type="button" onclick="submit()">Email Results</button>
      </div>
      <br>   
      <!--controls-->
      <div style="position:relative;"class="">
        <div style="padding-right:0.5em;" class="col-xs-6"><button ng-click="toggleTagsTable()" style="width:100%;margin-bottom:25px;" class="btn red">{{tagsTable.text}}</button></div>
        <div style="padding-left:0.5em;" class="col-xs-6"><button ng-click="addTagOnClick();" style="width:100%;margin-bottom:25px;" class="btn red">+</button></div>
      </div>
      <!--create tag -->
      <div id="create-tag" style="display:none;padding:0;margin-bottom:25px;background-color:rgba(128,0,0,0.3);padding:25px;" class="col-xs-12">
        <div style="position:relative;"ng-include="'app/components/home/addTagModal.html'"></div>
      </div>
      
      <div ng-show="tagsTable.visibility">
        <!--filter table-->
        <div class="col-xs-12" style="margin-bottom:25px;">
          <div class="col-xs-2">
            <h5 style="">Filter by:</h5>
          </span>
          </div> 
          <div class="col-xs-10">
            <select class="form-control" ng-model="filterChapter">
              <option ng-repeat="item in tagTypes track by $index" value="{{item.name}}">{{item.name}}</option>
            </select>
          </div> 
        </div> 
        <!-- video table -->
        <table  class="table table-bordered table-striped table-background" style="width:100%;text-align: center;border: 1px solid black;margin-top:20px;">
          <tr>
            <td>Tag Type</td>
            <td>Start Time</td>
            <td>End Time</td>
          </tr>
          <tr ng-repeat="item in currentVideoTagList  | filter : {chapter : filterChapter} track by $index">
            <td ng-click="fastForwardTo(item.starttime)">
              <span ng-hide="item.editingTag" ng-dblclick="editTag(item,1)">{{item.chapter}}</span>
              <input ng-show="item.editingTag" ng-model="newTagType" ng-blur="doneEditing(item,newTagType,1)" autofocus />             
            </td>
            <td>
              <span ng-hide="item.editingStarttime" ng-dblclick="editTag(item,2)">{{millisecondsToFormattedTime(item.starttime)}}</span>
              <input ng-show="item.editingStarttime" ng-model="newStarttime" ng-blur="doneEditing(item,newStarttime,2)" autofocus />
            </td>
            <td>
              
              <span ng-hide="item.editingEndtime" ng-dblclick="editTag(item,3)">{{millisecondsToFormattedTime(item.endtime)}}</span>
              <input ng-show="item.editingEndtime" ng-model="newEndtime" ng-blur="doneEditing(item,newEndtime,3)" autofocus />
            </td>
            <td><i ng-click="removeTag(item,$index)" style="color:red;" class="fa fa-times fa-lg"></i></td>
            
          </tr>
        </table>
      </div>
  </div>
</div>

<!-- modal views -->
<!-- <div ng-include="'app/components/home/popup.html'"></div> -->




