
<!-- CONTENT -->
<div style="" class="">
  <div style="padding-top:7%;width:640px;margin: 0 auto; padding-bottom:10%;z-index: 1;">
    <!-- SEARCH BAR -->
       <div style="text-align:center;" class="input-group">
        <input ng-model="urlLink" type="text" class="form-control" placeholder="Enter URL...">
        <span class="input-group-btn">
          <button ng-click="goButtonClicked(urlLink)" class="btn btn-default" type="button">Go!</button>
        </span>
      </div>

      <!-- VIDEO -->
      <div style="padding-top:25px; padding-bottom: 25px;">
          <video
              style="margin: 0 auto 0 auto"
              ng-model="link"
              id="vid1"
              class="video-js vjs-default-skin"
              controls preload="auto"
              width="640"
              height="360"
              data-setup='{ "techOrder": ["youtube"]}'>
              <source src="https://www.youtube.com/watch?v=iQ4LJSxf3JE&feature=youtu.be." type='video/youtube'
          />
          </video>
      </div>
      
      <div id="grid">
          <div class="ghost-select">
              <span></span>
          </div>
      </div>

      <div style="position:relative;">
        <div style="padding-right:0.5em;" class="col-xs-6">
          <button ng-click="toggleTagsTable()" style="width:100%;margin-bottom:25px;" class="btn red">{{tagsTable.text}}</button>
        </div>
        <div style="padding-left:0.5em;" class="col-xs-6">
          <button ng-click="addTagOnClick();" style="width:100%;margin-bottom:25px;" class="btn red">Add a Tag</button>
        </div>
      </div>
      

      <div style="text-align:center;" id="timeline"></div>

      <br>
      
      
      <!-- CONTROLS-->
      <div style="margin-top:1em;" class="row">     
        <div class="col-md-4 text-center">
            <button class="btn btn-default" style="width:100%;" id="my-request-btn" ng-click="myRequestsOnClick()">My Requests</button>
        </div>

        <div class="col-md-4 text-center">
          <button style="width:100%;" class="btn btn-default" type="button" ng-click="roiController.ROI()">
            Select ROI
          </button>
        </div>

        <div class="col-md-4 text-center">
            <button style="width:100%;" class="btn btn-default" ng-click="roiController.submit()">Email Results</button>
        </div>
      </div>

      <!-- ADVANCED CONTROLS -->
      <br>
      <div style="text-align:center;">
      <button class="btn btn-default text-center" type="button" data-toggle="collapse" data-target="#adv-controls" ng-click="roiController.initSlider()">Toggle Advanced Controls</button>
      <br>
      </div>
      <div class="form-group collapse" id="adv-controls">
        <br>
        <label for="sel1">Detection type:</label>
        <select class="form-control" id="sel1">
          <option value="HSV">HSV Object Tracking</option>
          <option value="SURF">SURF Object Recognition</option>
        </select>
        <br>
        <label for="sel2">Sampling Rate:</label>
        <select class="form-control" id="sel2">
          <option value="1">Every frame</option>
          <option value="3">Every 3 frames</option>
          <option value="5">Every 5 frames</option>
        </select>
        <br>
        <label for="sel3">Start and end times:</label>
        <div id="sel3">
          <input style="width:100%;" class="form-control" type="text" width="300px" name="start-time" id="start-time" value="0:00">
          <input style="width:100%;" class="form-control" type="text" width="300px" name="end-time" id="end-time" value="0:00">
        </div>

<!--         <div id="slider2"></div>
 -->
        <br>
        <label for="a_hsv">Advanced HSV Options</label>
        <div id="a_hsv">
          <label for="sel4">Direction(s) to tag (Default North):</label>
          <div id="sel4">
          <label class="checkbox-inline"><input type="checkbox" value="N" id="N">N</label>
          <label class="checkbox-inline"><input type="checkbox" value="NE" id="NE">NE</label>
          <label class="checkbox-inline"><input type="checkbox" value="E" id="E">E</label>
          <label class="checkbox-inline"><input type="checkbox" value="SE" id="SE">SE</label>
          <label class="checkbox-inline"><input type="checkbox" value="S" id="S">S</label>
          <label class="checkbox-inline"><input type="checkbox" value="SW" id="SW">SW</label>
          <label class="checkbox-inline"><input type="checkbox" value="W" id="W">W</label>
          <label class="checkbox-inline"><input type="checkbox" value="NW" id="NW">NW</label>
        </div>
        </div>
        <br>
        <label for="a_surf">Advanced SURF Options</label>
        <div id="a_surf">
          <label for="sel5">Tag condition:</label>
          <select class="form-control" id="sel5">
          <option value="in_scene">Object in scene</option>
          <option value="enter_exit_scene">Object enters or leaves scene</option>
        </select>
        </div>
      </div>

      
        <div id="my-request-view" style="padding:0;display:none;" class="col-xs-12">
          <div style="position:relative;"ng-include="'app/components/requests/requestsView.html'">    
        </div>
      </div>

   
      <br>   
      
      <!--create tag -->
      <div id="create-tag" style="display:none;padding:0;margin-bottom:25px;background-color:rgba(128,0,0,0.3);padding:25px;" class="col-xs-12">
        <div style="position:relative;"ng-include="'app/components/home/addTagModal.html'"></div>
      </div>
      
      <div ng-show="tagsTable.visibility">
        <!--filter table-->
        <div class="col-xs-12" style="margin-bottom:25px;">
          <div class="col-xs-2">
            <h5 style="">Filter by:</h5>
          </span>
          </div> 
          <div class="col-xs-10">
            <select class="form-control" ng-model="filterChapter">
              <option ng-repeat="item in tagTypes track by $index" value="{{item.name}}">{{item.name}}</option>
            </select>
          </div> 
        </div> 
        <!-- video table -->
        <table  class="table table-bordered table-striped table-background" style="width:100%;text-align: center;border: 1px solid black;margin-top:20px;">
          <tr>
            <td>Tag Type</td>
            <td>Start Time</td>
            <td>End Time</td>
          </tr>
          <tr ng-repeat="item in currentVideoTagList  | filter : {chapter : filterChapter} track by $index">
            <td ng-click="fastForwardTo(item.starttime)">
              <span ng-hide="item.editingTag" ng-dblclick="editTag(item,1)">{{item.chapter}}</span>
              <input ng-show="item.editingTag" ng-model="newTagType" ng-blur="doneEditing(item,newTagType,1)" autofocus />             
            </td>
            <td>
              <span ng-hide="item.editingStarttime" ng-dblclick="editTag(item,2)">{{millisecondsToFormattedTime(item.starttime)}}</span>
              <input ng-show="item.editingStarttime" ng-model="newStarttime" ng-blur="doneEditing(item,newStarttime,2)" autofocus />
            </td>
            <td>
              
              <span ng-hide="item.editingEndtime" ng-dblclick="editTag(item,3)">{{millisecondsToFormattedTime(item.endtime)}}</span>
              <input ng-show="item.editingEndtime" ng-model="newEndtime" ng-blur="doneEditing(item,newEndtime,3)" autofocus />
            </td>
            <td><i ng-click="removeTag(item,$index)" style="color:red;" class="fa fa-times fa-lg"></i></td>
            
          </tr>
        </table>
      </div>
  </div>
</div>

<!-- modal views -->
<!-- <div ng-include="'app/components/home/popup.html'"></div> -->




