<div style="padding:8% 30% 10% 30%;z-index: 1;">
	<!-- SEARCH BAR -->
	<div style="text-align:center;" class="input-group">
      <input ng-model="urlLink" type="text" class="form-control" placeholder="Enter URL...">
      <span class="input-group-btn">
        <button ng-click="goButtonClicked(urlLink)" class="btn btn-default" type="button">Go!</button>
      </span>
    </div>

    <!-- VIDEO -->
    <div style="padding-top:25px;padding-bottom: 25px;">
    	<video id="vid1" src="" class="video-js vjs-default-skin" controls preload="auto" width="auto" height="360" data-setup='{ "techOrder": ["youtube"]}'>

        <source src="//www.youtube.com/watch?v=oAtjf6Ijmtw" type='video/youtube'  />
        <track kind="captions" src="assets/css/testcaption.vtt" srclang="en" label="English" default>

  		</video>	
    </div>
       <video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="640" height="264"  data-setup='{"example_option":true}'>  
       <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />  
       

       <track kind="captions" src="assets/css/testcaption.vtt" srclang="en" label="English" default>

      </video>
    
    <div class="pull-right">
    	<button class="btn btn-primary" ng-click="writeLinkToDatabase(urlLink)">Write to database</button>
    </div>

    <div style="text-align: center;"ng-repeat="item in messages">
    	{{item.url}}
    </div>
    


    <div style="padding:50px;">
      

        Chapter: 
        <select class="form-control" ng-model="selectedChapter">
          <option ng-repeat="item in chapters track by $index"  value="{{item.name}}">{{item.name}}</option>
        </select>



      <div class="row text-center">

        <div class="col-xs-4"><label>Tag Name</label>
          <input ng-model="tagname">
        </div>
        <div class="col-xs-4"><label>Start Time</label>
          <input ng-model="starttime">
        </div>
        <div class="col-xs-4"><label>End Time</label>
          <input ng-model="endtime">
        </div>
      </div>
      <div style="margin-top:25px;"><button ng-click="addTag(selectedChapter,tagname,starttime,endtime)" class="pull-right btn btn-primary">Add it</button></div>
    </div>
    
   
   <div class="row">
    <div class="col-xs-7">
      <input ng-model="ch"><button ng-click="addChapter(ch)" class="btn btn-primary">Add chapter</button>
    </div>
    <!-- Filer by Chapter -->
    <div class="col-xs-5">
        
        Filter by: 
        <select class="form-control" ng-model="filterChapter">
          <option ng-repeat="item in chapters track by $index" value="{{item.name}}">{{item.name}}</option>
        </select>
    </div>
    
   </div>
   
    <table style="width:100%;text-align: center;border: 1px solid black;margin-top:20px;">
      <tr><td>Tag Name</td><td>Start Time</td><td>End Time</td></tr>
      <tr ng-repeat="item in tag | filter : {chapter : filterChapter}"><td ng-click="setCurrentTime(item.starttime)">{{item.chapter + " " + item.tag}}</td><td>{{item.starttime}}</td><td>{{item.endtime}}</td></tr>

    </table>




</div>


